
:root {
    --color-primario: #023CD7;
    --color-secundario: #EFF8E2;
    --color-background: #303435;
    --color-negro: #1B2021;
    --color-blanco: #f6f6f6;

    --fuente-principal: "Inter", serif;

}